@import "tailwindcss";


@import "preline/variants.css";
@source "../node_modules/preline/dist/*.js";

/* Optional Preline UI Datepicker Plugin */
/* @import "preline/src/plugins/datepicker/styles.css"; */

/* Plugins */
/* @plugin "@tailwindcss/forms"; */


@layer utilities{
  .marquee_item{
    @apply p-0 m-0 relative  flex justify-center items-center whitespace-nowrap
  }
  .marquee_item p{
    @apply  text-center font-semibold 
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}



body {
  background: var(--background);
  color: var(--foreground);
}
.hero{
  background: var(--background);
}

